/* Consider using a CSS reset like Eric Myers CSS Reset. There are probably newer ones, but thats the one I always used. */



body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

a {  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

h4 {
color: #B3B3B3;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px; 
}

.main {
  display: grid;
  grid-template-columns: auto minmax(0,1fr);
}

.subgrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row: auto;
  gap: 20px;
}

@media screen and (min-width: 2000px) {
  .grid-container {
    margin-left: auto;
    margin-right: auto;
  }
}


/*Mollie. */
.item1 a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  text-decoration: none;
}
.item1 li {
  display: block;
  min-width: 120px;
  float: center;
  margin-left: 28px;
  border: none;
  position: relative;
  top: 63px;
}



/*Menu Horizontal*/

.item2 {
  grid-column: 2 / span 4;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 18%;
  padding-right: 18%;
}

.item2 li {
  padding: 9px;
  display: block;
  border: none;
  text-align: center;
}

/*say hi*/
.item3 {
  grid-column: 3 / span 4;
  grid-row: 2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: auto;
  color: #000000;
  text-decoration: none;
  padding: 9px;
}


/*"say hi" formating*/
.item3 li {
  display: block;
  width: 120px;
  float: right;
  margin-left: 0px;
  border: none;
}


/*Let's get*/
.headline {
  
}

.headline h1 {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 164px;
  line-height: 10px;
  width: 660px;
  height: 196px;
  top: 120px;
  left: -10px;
}


/*familiar*/
  h1 span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    position: relative;
    font-weight: 600;
    font-size: 164px;
    line-height: 5px;
    left: 210px;
    top: 120px;
 }

/*small text*/
.item5 {
  grid-column: 3 / span 3;
  grid-row: 2 ;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 174px;
  padding-right: 94px;
}

.item5 p {
  width: 170px;
  height: 63px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  z-index: 1;
}



/*Mollie's  IMAGE */
.item6 {
  grid-column: 2 / span 4;
  grid-row: 2;
  margin-top:315px;
  margin-left: -144px;
}

.item6 img { 
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  /* Only applies at small screen size */
}

/* paragraph about Mollie*/
.item7 {
  grid-column: 2 / span 4;
  grid-row: 3;
  padding-left: 10%;

}
.item7 p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 69px;
  width: 1045px;
} 


/*things i believe*/
.item8 {
  grid-column: 2 / -1;
  grid-row: 4;
  padding-right: 0;
  background-color: black! important;
  margin-left: 30%;
  height: 123px;
}

.item8 h2 {
  position: absolute;
  text-align: right;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 72px;
  text-align: right;
  line-height: .05em;
  right: 3px; 
  font-weight: 600;
  
}


/*All func.*/
.item9 {
  grid-column: 2 / 2;
  grid-row: 5; 
}
.item9 h4 {
  position: relative;
  transform: rotate(-90deg);
  left: -145px;
  top:28%; 
  text-align: right; 
  line-height: 59.9%;
  width: 292px;
  height: 94px;
}
.item9 p {
  position: relative;
  text-align: left;
  width: 309px;
  height: 313px;
  top: -89px;
}


/*The product.*/
.item10 {
  grid-column: 3 / 3;
  grid-row: 5;
  padding-left: 10%;
}
.item10 h4 {
  position: relative;
  transform: rotate(-90deg);
  left: 8px;
  top: 20%;
  text-align: left;
  line-height: 105.9%;
  width: 239px;
  height: 97px;
}

.item10 p {
  position: relative;
  /* text-align: left; */
  left: 161px;
  width: 317px;
  height: 313px;
  top: -91px;
}
 



/*Functionalisties.*/
.item11 {
  grid-column: 4 / 4;
  grid-row: 5;  
}
.item11 h4 {
  position: relative;
  transform: rotate(-90deg);
  left: 221px;
  top:28%; 
  text-align: right;
  line-height: 69.9%; 
  width: 292px;
  height: 94px;
}
.item11 p {
  position: relative;
  /* text-align: left; */
  left: 368px;
  width: 304px;
  height: 313px;
  top: -91px;
}


/*TEST EARLY.*/
.item12 {
  grid-column: 2 / 2;
  grid-row: 6; 
}
.item12 h4 {
  position: relative;
  transform: rotate(-90deg);
  left: -145px;
  top:-10%;  
  text-align: right; 
  line-height: 69.9%;
  width: 292px;
  height: 94px;
}
.item12 p {
  position: relative;
  text-align: left;
  width: 304px;
  height: 313px;
  top: -279px;
}


/*Design should.*/
.item13 {
  grid-column: 3 / 3;
  grid-row: 6;
  
}
.item13 h4 {
  position: relative;
  transform: rotate(-90deg);
  left: 22px;
  top: -18%;
  line-height: 105.9%;
  width: 251px;
  height: 55px;
}

.item13 p {
  position: relative;
  width: 285px;
  left: 200px;
  top: -245px;
}

/*All func. is created */
.item14 {
  grid-column: 4 / 4;
  grid-row: 6;
  
}
.item14 h4 {
    position: relative;
    transform: rotate(-90deg);
    left: 206px;
    top: -17%;
    width: 215px;
    height: 53px;
  
}

.item14 p {
  position: relative;
  left: 370px;
  width: 368px;
  height: 313px;
  top: -245px;
 }


 /*meet my skills*/
.headline2 {
  position: relative;
}
.headline2 h1 {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 164px;
  line-height: 10px;
  width: 660px;
  height: 196px;
  top: -1429px;;
  left: -18px;
}


/*Long TEXT*/

.item15 {
  grid-column: 3 / span 2;
  grid-row: 7;
}
.item15 h4 {
    position: relative;
    left: -250px;
    top: -6%;
    height: 53px;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
}
.item15 p {
  font-weight: 500;
  font-size: 24px;
  position: relative;
  left: -250px;
  width: 1061px;
  top: -70px;
}

/*Long TEXT*/

.item16 {
  grid-column: 3 / span 2;
  grid-row: 8;
  
}
.item16 h4 {
  position: relative;
  left: -250px;
  top: -52%;
  height: 53px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}
.item16 p {
font-weight: 500;
font-size: 24px;
position: relative;
left: -250px;
width: 1061px;
top: -187px;
}

/*Long TEXT*/

.item17 {
  grid-column: 3 / span 2;
  grid-row: 9;
  
}
.item17 h4 {
  position: relative;
  left: -250px;
  top: -97%;
  height: 53px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}
.item17 p {
font-weight: 500;
font-size: 24px;
position: relative;
left: -250px;
width: 1124px;
top: -303px;
}

/*Long TEXT*/

.item18 {
  grid-column: 3 / span 2;
  grid-row: 10;
  
}

.item18 h4 {
  position: relative;
  left: -250px;
  top: -160%;
  height: 53px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}
.item18 p {
font-weight: 500;
font-size: 24px;
position: relative;
left: -250px;
width: 1062px;
top: -421px;
}



/*Twitter Logo*/

.twitterLogo {
  grid-column: 2 / span 4;
  grid-row: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 18%;
  padding-right: 18%;
}

/*.twitterLogo img{
position: absolute; 
left: 41.53%;
right: 55.28%;
top: 98.88%;

}*/
 





