.grid-container {
  display: grid;
  grid-template-columns: 500px auto auto;
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 15px;
 
 

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);

}

/*Mollie. */
.item1 a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  text-decoration: none;
}
.item1 li {
  display: block;
  width: 120px;
  float: center;
  margin-left: 28px;
  border: none;
}

/*Menu Horizontal*/
.item2 li, a {
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  padding: 9px;
  display: block;
  width: 160px;
  float: left;
  border: none;
  text-align: center;
}

/*say hi*/
.item3 {
 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: auto;
  color: #000000;
  text-decoration: none;
  margin-right: 78px; 
}


/*"say hi" formating*/
.item3 li {
  display: block;
  width: 120px;
  float: right;
  margin-left: 20px;
  border: none;
}


/*Let's get*/
.item4 {
  grid-column: 1 / 1;
  grid-row: 2 ;
}

  .item4 h1 {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 164px;
  line-height: 10px;
  width: 660px;
  height: 196px;
  left: -32px;
  top: -10px; 
}


/*familiar*/
  h1 span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    position: relative;
    font-weight: 600;
    font-size: 164px;
    line-height: 5px;
    left: 210px;
    top: 120px;
 }

/*small text*/
.item5 p{
  grid-column: 2 / 2;
  grid-row: 2 ;
 
  width: 170px;
  height: 63px;
  left: 1180px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  padding-top: 9%;
  padding-left: 88%;
}



/*Mollie's  IMAGE */

.item6 {
  grid-column: 1 / 2;
  grid-row: 2;
  padding-top: 48%;
  padding-left: 10%;

}

/* paragraph abput Mollie*/
.item7 {
  grid-column: 2 / -1;
  grid-row: 3;
  position: absolute;
  width: 1075px;
  height: 545px;
  left: 185px;
  top: 1096px;

}
.item7 p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 69px;
} 




 





