@media screen and (min-width: 1440px) {
  .Work03 {
    height: 1450px;
  }
  
  .Work03 img {
    position: absolute;
  }
  
  .Work03 img.img01 {
    max-width: 429px;
    min-width: 429px;
  }

  .Work03 img.img02 {
    max-width: 461px;
    min-width: 461px;
    top: 177px;
    left: 244px;
  }

  .Work03 img.img03 {
    max-width: 373px;
    min-width: 373px;
    top: 374px;
    left: 43px;
    z-index: 4;
  }

  .Work03 img.img04 {
    max-width: 326px;
    min-width: 326px;
    top: 448px;
    left: 437px;
    z-index: 1;
  }
 
  .Work03 img.img05 {
    max-width: 369px;
    min-width: 369px;
    top: 629px;
    left: 87px;
    z-index: -1;
  }
 
  .Work03 img.img06 {
    max-width: 413px;
    min-width: 413px;
    top: 658px;
    left: 537px;
    
  }

  .Work03 img.img07 {
    max-width: 309px;
    min-width: 309px;
    top: 931px;
    left: 60px;
    z-index: 3;
  }

  .Work03 img.img08 {
    max-width: 333px;
    min-width: 333px;
    top: 875px;
    left: 317px;
    z-index: 1;
  }

  .Work03 img.img09 {
    max-width: 366px;
    min-width: 366px;
    top: 963px;
    left: 624px;
  }
}
